.navbar{
    background:rgb(239, 237, 237);
}

.btn btn-success{
    margin-right:5px;
}

.engranaje{
    display:inline-block;
}

#lastOption{
    color:red;
}

#Tab {
    justify-content: center;
    align-items: center;
}

.nav-link active{
    background:transparent;
}

button{
    background:none;
    border:none;
    
}

#grid, #square {
    color:rgb(157, 151, 151);
}

#square:hover{
    color:rgb(92, 92, 238);
}
#grid:hover{
    color:rgb(92, 92, 238);
}

#profile{
    justify-content:center;
    align-items:center;
}

img{
    width:300px;
    height:300px;
    object-fit: cover;
    margin-top: 5px;
    margin-bottom:5px;
} 

.card-header{
    font-weight:bold;
}

#cardImg, #cardImg1, #cardImg2{
    margin:0;
    border-radius:0;
}

.card-text{
    font-size:small;
}